        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            font-family: "Open Sans";
            /* font-family: Dela Gothic One; */
        }

        body {
            display: flex;
            flex-direction: column;
            gap: 100px;
            background-color: rgb(242, 242, 242);
        }

        h2 {
            font-size: 32px;
            color: rgba(10, 30, 48, .8);
            text-align: center;
        }

        h3 {
            color: rgba(10, 30, 48, .8);
            font-size: 22px;
        }

        p {
            color: rgba(10, 30, 48, .8);
            font-size: 14px;
        }


        .container {
            max-width: 1200px;
            margin: 0 auto;
            background-color: red;
        }

        /* =====HEADER===== */
        .header {
            /* background-color: blanchedalmond; */
            position: sticky;
            top: 0;
            z-index: 1000;
            background-color: antiquewhite;
        }

        .header .container {
            background-color: rgb(238, 226, 207);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            border-radius: 10px;
            /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
            box-shadow: inset 0 0 5px 2px rgb(233, 209, 169);
            padding: 0 30px;
        }

        /* ---navigation--- */

        .logo a {
            display: inline;
            font-family: "Rubik";
            font-size: 32px;
            font-weight: 600;
            color: #333;
            text-shadow: 0 3px 10px rgb(233, 230, 225);
            transition: transform 0.2s ease-in;
        }

        .logo a:hover {
            text-shadow: 0 0px 1px rgb(85, 79, 79);
            /* в данном случае используется при отпускании */
            transition: transform 0.2s ease-in;
        }

        .nav {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .nav a {
            color: #333;
            font-size: 18px;
            font-weight: 500;
        }

        .nav a:hover {
            text-shadow: 0 0px 1px rgb(85, 79, 79);
            /* в данном случае используется при отпускании */
            transition: transform 0.2s ease-in;
        }

        .nav button {
            display: inline-block;
            background-color: #fafafa;
            font-size: 20px;
            font-weight: 700;
            font-family: "Open Sans";
            padding: 8px;
            border: 0;
            border-radius: 20px;
            box-shadow: 0 0px 2px rgb(172, 164, 164);
            cursor: pointer;
            color: #333;
        }

        /* ---burger-menu--- */
        .burger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            gap: 5px;
        }

        .burger span {
            width: 30px;
            height: 4px;
            background: #333;
            transition: 0.3s;
        }


        /* =====MAIN===== */
        .main {
            background-color: rgb(242, 242, 242);
        }

        .main .container {
            background-color: rgb(242, 242, 242);
            /* display: flex;
            flex-direction: column;
            gap: 70px; */
        }

        /* ---hero-section--- */
        .hero {
            background-color: antiquewhite;
            padding: 40px 0;
        }

        .hero .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            background-color: antiquewhite;
            padding: 30px 0;
        }

        .hero h1 {
            font-size: 40px;
            text-align: center;
            color: #333;
        }

        .hero p {
            font-size: 20px;
            text-align: center;
        }

        .hero a {

            background-color: #fafafa;
            font-size: 22px;
            font-weight: 800;
            font-family: "Open Sans";
            padding: 8px;
            border: 0;
            border-radius: 10px;
            box-shadow: 0 0px 2px rgb(223, 217, 217);
            color: #333;
        }

        .hero a:hover {
            transform: translateY(1px);
            background-color: rgb(243, 239, 239);
            box-shadow: inset 0 0 2px 2px rgb(217, 214, 214);
            font-weight: 600;

        }

        /* ---popular--- */
        .popular {
            display: flex;
            flex-direction: column;
            gap: 30px;
            background-color: rgb(255, 255, 255);
            padding: 40px 5px;
            margin-top: 100px;
            border-radius: 20px;
        }

        .popular_list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 25px;
            justify-items: center;
        }

        .popular_card {
            display: flex;
            flex-direction: column;
            gap: 5px;
            background-color: rgb(244, 240, 240);
            width: 100%;
            overflow: hidden;
            border-radius: 20px 20px 0 0;
            cursor: pointer;
            box-shadow: 0 0px 2px rgb(201, 191, 191);
        }

        .popular_card:hover {
            transform: translateY(-3px);
        }

        .popular img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            display: block;
        }

        .popular h3 {
            margin: 5px;
        }

        .popular_card__description {
            display: flex;
            justify-content: space-between;
            margin: 5px;
        }


        /* ---catalog--- */
        .catalog {
            display: flex;
            flex-direction: column;
            gap: 30px;
            background-color: rgb(255, 255, 255);
            padding: 40px 5px;
            margin-top: 40px;
            border-radius: 20px;
        }

        .catalog_list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
            gap: 30px;
            justify-content: center;
        }

        .catalog_card {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-left: 10px;
            gap: 20px;
            background-color: rgb(244, 240, 240);
            width: 100%;
            max-width: 580px;
            overflow: hidden;
            border-radius: 0 100px 100px 0;
            cursor: pointer;
            box-shadow: 0 0px 2px rgb(201, 191, 191);
            transition: transform 0.3s ease;
        }

        .catalog_card:hover {
            transform: scale(1.1);
        }

        .catalog_card__description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px 0;
        }

        .catalog img {
            width: 100%;
            max-width: 400px;
            height: 200px;
            object-fit: cover;
            display: block;
        }

        /* ---price--- */
        .price {
            display: flex;
            flex-direction: column;
            gap: 30px;
            background-color: rgb(255, 255, 255);
            padding: 40px 0;
            margin-top: 40px;
            border-radius: 20px;
        }

        .price_list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            padding: 5px;
        }

        .price_card {
            background-color: antiquewhite;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 20px 20px;
            border-radius: 20px;
        }

        .price_card__period {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
        }

        .price_card h4 {
            font-size: 20px;
        }

        .price_card p {
            font-size: 16px;
        }

        .price_card span {
            font-size: 32px;
            font-weight: 700;
        }

        .price_card a {
            background-color: #333;
            color: #f8fafc;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 18px;
            transition: transform 0.3s ease;
        }

        .price_card a:hover {
            transform: scale(1.03);

        }

        /* ---accord--- */
        .fact {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            background-color: rgb(255, 255, 255);
            padding: 40px 5px;
            margin-top: 40px;
            border-radius: 20px;


        }

        .fact h3 {
            font-size: 24px;
            text-align: center;
        }

        /* Контейнер для каждого вопроса */
        .fact_item {
            background: white;
            border-radius: 15px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 100%;
            max-width: 800px;
        }

        /* Прячем чекбокс */
        .fact_input {
            display: none;
        }

        /* Вопрос (кликабельный label) */
        .fact_approve {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background: rgb(10 30 48 / var(--tw-bg-opacity, 1));
            cursor: pointer;
            font-size: 22px;
            font-weight: 600;
            color: #fcfdfe;
            transition: background 0.3s;
        }

        .fact_approve:hover {
            background: #0f4478;
        }

        /* Иконка + */
        .fact_icon {
            font-size: 2em;
            font-weight: 300;
            transition: transform 0.3s;
        }

        /* Ответ (изначально скрыт) */
        .fact_answer {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            background: rgb(233, 228, 228);
            font-size: 18px;
        }

        .fact_input:checked+.fact_approve {
            background: #0f4478;
            color: white;
        }

        .fact_input:checked+.fact_approve .fact_icon {
            transform: rotate(45deg);
            /* + превращается в × */
        }

        .fact_input:checked+.fact_approve+.fact_answer {
            max-height: 500px;
            /* Показываем ответ */
        }

        /* =====FOOTER===== */
        .footer {
            background-color: rgb(153, 148, 148);
        }

        .footer .container {
            background-color: rgb(153, 148, 148);
        }

        .footer_grid {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 270px;
        }

        .footer_grid__column {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px;
        }

        .footer_grid__column p {
            font-size: 22px;
            font-weight: 500;
            color: #333;
        }

        .grid_column__items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 15px;
            max-height: 180px;
        }

        .grid_column__items a {
            color: #333;
        }

        .grid_column__items a:hover {
            text-decoration: underline;
        }

        .grid_column__contacts {
            display: flex;
            gap: 30px;
            padding-top: 20px;
        }

        .grid_column__contacts a {
            background-color: #f8fafc;
            padding: 10px;
            border-radius: 100%;
            font-weight: 900;
            color: black;
            border: 1px solid black;
        }

        .grid_column__contacts a:hover {
            background-color: rgb(110, 185, 255);
        }



        /* =====ADAPTABILITY===== был успешно скопирован с ревью*/

        @media (max-width: 768px) {
            .nav {
                display: none;
                /* Скрываем обычное меню */
            }

            .burger {
                display: flex;
                /* Показываем бургер */
            }

            .catalog_list {
                grid-template-columns: 1fr;
            }

            .catalog_card {
                flex-direction: column;
                border-radius: 20px;
            }

            .fact_item {
                max-width: 100%;
                margin: 0 10px;
            }
        }